@media screen and (min-device-width: 0px){
    .ContentVideos101 {
        width: 1020px;
        height: 827px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #BAE7F5;
    }

    .ContentVideos101__titlecontainer {
        width: 978px;
        height: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        background-color: white;
        border-radius: 20px;
        margin: 16px 0px;
    }

    .ContentVideos101__title {
        width: 281px;
        height: 32px;
        margin-left: 20px;
    }

    .ContentVideos101__titlebutton {
        width: 174px;
        height: 40px;
        border-radius: 10px;
        background-color: #111B36;
        color: white;
        font-size: 15px;
        margin-left: 485px;
    }

    .ContentVideos101__coverimage {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 1020px;
        height: 260px;
        object-fit: cover;
    }

    .ContentVideos101__contentcontainer {
        width: 1020px;
        height: 384px;
        background-color: white;
        border-bottom-left-radius: 20px;   
        border-bottom-right-radius: 20px; 
    }

    .ContentVideos101__titlecontentcontainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-left: 20px;
    }

    .ContentVideos101__content--title {
        width: 956px;
        height: 48px;
        font-size: 46px;
        font-weight: bold;
        margin-top: 24px;
    }

    .ContentVideos101__content--subtitlecontainer {
        width: 980px;
        height: 160px;
        margin-bottom: 52px;
    }

    .ContentVideos101__content--buttonstartcourse {
        width: 174px;
        height: 40px;
        border-radius: 10px;
        padding: 10px;
        background-color: #111B36;
        color: white;
        font-size: 15px;
        margin-left: 41px;
    }

    .ContentVideos101__content--buttontrailer {
        width: 140px;
        height: 40px;
        border-radius: 10px;
        padding: 10px;
        background-color: #111B36;
        color: white;
        font-size: 15px;
        margin-left: 16px;
    }
}

@media screen and (min-device-width: 768px){
}


@media screen and (min-device-width: 1280px){
}