@use "variable" as *;
@use "typography" as *;
@use "mixins" as *;

* {
    text-decoration: none;
    list-style: none;
    font-family: "Lato-Regular";
}

#root {
}

header {
}

section {
}

h1 {
}

h2 {
    // font-weight: 600;
    // font-size: 1rem;
    // color: $instock-slate;
}

h3 {
    // font-weight: 600;
    // font-size: 1rem;
    // color: $instock-blue;
}

p {
    // font-weight: 600;
    // font-size: 1rem;
    // color: $instock-black;
    margin: 0px;
}

ul {
    margin: 0px;
}

footer {
}
